
Ozone/OzoneHD.xcodeproj/project.xcworkspace/xcuserdata/nacho.xcuserdatad/UserInterfaceState.xcuserstate

Ozone/OzoneHD.xcodeproj/project.xcworkspace/xcuserdata/nacho.xcuserdatad/WorkspaceSettings.xcsettings

Ozone/OzoneHD.xcodeproj/xcuserdata/nacho.xcuserdatad/xcschemes/OzoneHD.xcscheme

Ozone/OzoneHD.xcodeproj/xcuserdata/nacho.xcuserdatad/xcschemes/xcschememanagement.plist
