///////////////////////////

01_decor
{
	mesh				01		 
	tex				decor
	opacity				no
}

///////////////////////////

02_decor
{
	mesh				02		 
	tex				decor
	opacity				no
}

///////////////////////////

03_decor
{
	mesh				03		 
	tex				decor
	opacity				no
}

///////////////////////////

04_decor
{
	mesh				04		 
	tex				decor
	opacity				no
}

///////////////////////////

05_decor
{
	mesh				05		 
	tex				decor
	opacity				no
}

///////////////////////////

06_decor
{
	mesh				06		 
	tex				decor
	opacity				no
}

///////////////////////////