///////////////////////////
///  CUBES 00_Tutorial     ///
///////////////////////////


// 01_cube		Nombre cubo
// {
//  	mesh				01		//cube_shared.o3d estaria usando la standar mesh (modelo)
//  	tex				01_cube			(textura principal)			
//  	glow				01_cube_glow		(textura de brillo)
//	opacity				no/transparent/additive (para los cubos transparentes o aditivos)
//  	fade				1000			(tiempo que desaparece el brillo en milisegundos)						
//  	friction			0.1			(de 0.0 a 1.0, mas friccion hace que rebote menos, 1 no rebota, 0 rebota a tope NO PONER NUNCA A CERO ABSOLUTO)
//  	break				yes/no			(para cubos q se rompen)
//  	door				no/blue/red
//  	sound				no/default/nombre_de_sonido
//	invisible			yes/no
// }

///////////////////////////

01_cube //Blue Key cube Default
{
	mesh				01		 
	tex				cubes
	glow				cubes_glow
	opacity				transparent
	fade				1000							
	friction			0.1
	break				no
	door				blue
	sound				no
	invisible			no
}

///////////////////////////


02_cube //Red Key cube Default
{
	mesh				02		 
	tex				cubes
	glow				cubes_glow
	opacity				transparent
	fade				1000							
	friction			0.1
	break				no
	door				red
	sound				no
	invisible			no
}

///////////////////////////


03_cube //Breakeable cube
{
	mesh				03		 
	tex				cubes
	glow				cubes_glow
	opacity				no
	fade				2000		/// ta puesto a 2 segundos					
	friction			1.0		/// ta puesto pa que rebote menos
	break				yes
	door				no
	sound				no
	invisible			no
}

///////////////////////////


04_cube
{
	mesh				04		 
	tex				cubes
	glow				cubes_glow
	opacity				no
	fade				1000							
	friction			0.1
	break				no
	door				no
	sound				no
	invisible			no
}

///////////////////////////


05_cube
{
	mesh				05		 
	tex				cubes
	glow				cubes_glow
	opacity				transparent
	fade				1000							
	friction			0.1
	break				no
	door				no
	sound				no
	invisible			no
}

///////////////////////////


06_cube 
{
	mesh				06		 
	tex				cubes
	glow				cubes_glow
	opacity				no
	fade				1000							
	friction			0.1
	break				no
	door				no
	sound				no
	invisible			no
}

///////////////////////////


07_cube
{
	mesh				07		 
	tex				cubes
	glow				cubes_glow
	opacity				no
	fade				1000							
	friction			0.1
	break				no
	door				no
	sound				no
	invisible			no
}

///////////////////////////


08_cube
{
	mesh				08		 
	tex				cubes
	glow				cubes_glow
	opacity				no
	fade				1000							
	friction			0.1
	break				no
	door				no
	sound				no
	invisible			no
}

///////////////////////////


09_cube
{
	mesh				09		 
	tex				cubes
	glow				cubes_glow
	opacity				no
	fade				1000							
	friction			0.1
	break				no
	door				no
	sound				no
	invisible			no
}

///////////////////////////


10_cube
{
	mesh				10		 
	tex				cubes
	glow				cubes_glow
	opacity				no
	fade				1000							
	friction			0.1
	break				no
	door				no
	sound				no
	invisible			no
}

///////////////////////////


11_cube
{
	mesh				11		 
	tex				cubes
	glow				cubes_glow
	opacity				no
	fade				1000							
	friction			0.1
	break				no
	door				no
	sound				no
	invisible			no
}

///////////////////////////


12_cube
{
	mesh				12		 
	tex				cubes
	glow				cubes_glow
	opacity				no
	fade				1000							
	friction			0.1
	break				no
	door				no
	sound				no
	invisible			no
}

///////////////////////////


13_cube
{
	mesh				13		 
	tex				cubes
	glow				cubes_glow
	opacity				no
	fade				1000							
	friction			0.1
	break				no
	door				no
	sound				no
	invisible			no
}

///////////////////////////


14_cube
{
	mesh				14		 
	tex				cubes
	glow				cubes_glow
	opacity				no
	fade				1000							
	friction			0.1
	break				no
	door				no
	sound				no
	invisible			no
}

///////////////////////////


15_cube
{
	mesh				15		 
	tex				cubes
	glow				cubes_glow
	opacity				no
	fade				1000							
	friction			0.1
	break				no
	door				no
	sound				no
	invisible			no
}

///////////////////////////


16_cube
{
	mesh				16		 
	tex				cubes
	glow				cubes_glow
	opacity				no
	fade				1000							
	friction			0.1
	break				no
	door				no
	sound				no
	invisible			no
}

///////////////////////////

17_cube
{
	mesh				17		 
	tex				cubes
	glow				cubes_glow
	opacity				no
	fade				1000							
	friction			0.1
	break				no
	door				no
	sound				no
	invisible			no
}

///////////////////////////


18_cube
{
	mesh				18		 
	tex				cubes
	glow				cubes_glow
	opacity				no
	fade				1000							
	friction			0.1
	break				no
	door				no
	sound				no
	invisible			no
}

///////////////////////////


19_cube
{
	mesh				19		 
	tex				cubes
	glow				cubes_glow
	opacity				no
	fade				1000							
	friction			0.1
	break				no
	door				no
	sound				no
	invisible			no
}

///////////////////////////


20_cube
{
	mesh				20		 
	tex				cubes
	glow				cubes_glow
	opacity				no
	fade				1000							
	friction			0.1
	break				no
	door				no
	sound				no
	invisible			no
}

///////////////////////////