
01_episode 
{
	name				"Tutorial"
	folder				"00_tutorial"
}

02_episode 
{
	name				"Earth"		 
	folder				"01_earth"
}

03_episode 
{
	name				"Vulcan"		 
	folder				"02_vulcan"
}

04_episode 
{
	name				"Ocean"		 
	folder				"03_ocean"
}

05_episode 
{
	name				"Space"		 
	folder				"04_space"
}

