///////////////////////////

01_decor
{
	mesh				01		 
	tex				decor
	opacity				additive
}

///////////////////////////

02_decor
{
	mesh				02		 
	tex				decor
	opacity				additive
}

///////////////////////////

03_decor
{
	mesh				03		 
	tex				decor
	opacity				additive
}

///////////////////////////

04_decor
{
	mesh				04		 
	tex				decor
	opacity				additive
}

///////////////////////////

05_decor
{
	mesh				05		 
	tex				decor
	opacity				additive
}

///////////////////////////

06_decor
{
	mesh				06		 
	tex				decor
	opacity				additive
}

///////////////////////////

07_decor
{
	mesh				07		 
	tex				decor
	opacity				additive
}

///////////////////////////

08_decor
{
	mesh				08		 
	tex				decor
	opacity				additive
}

///////////////////////////

09_decor
{
	mesh				09		 
	tex				decor
	opacity				additive
}

///////////////////////////

10_decor
{
	mesh				10		 
	tex				decor
	opacity				additive
}

///////////////////////////

11_decor
{
	mesh				11		 
	tex				decor
	opacity				additive
}

///////////////////////////

12_decor
{
	mesh				12		 
	tex				decor
	opacity				additive
}

///////////////////////////

13_decor
{
	mesh				13		 
	tex				decor
	opacity				additive
}

///////////////////////////

14_decor
{
	mesh				14		 
	tex				decor
	opacity				additive
}

///////////////////////////

15_decor
{
	mesh				15		 
	tex				decor
	opacity				additive
}

///////////////////////////

16_decor
{
	mesh				16		 
	tex				decor
	opacity				additive
}

///////////////////////////