///////////////////////////

01_decor
{
	mesh				01		 
	tex				decor
	opacity				transparent
}

///////////////////////////

02_decor
{
	mesh				02		 
	tex				decor
	opacity				transparent
}

///////////////////////////

03_decor
{
	mesh				03		 
	tex				decor
	opacity				transparent
}

///////////////////////////

04_decor
{
	mesh				04		 
	tex				decor
	opacity				transparent
}

///////////////////////////

05_decor
{
	mesh				05		 
	tex				decor
	opacity				transparent
}

///////////////////////////

06_decor
{
	mesh				06		 
	tex				decor
	opacity				transparent
}

///////////////////////////

07_decor
{
	mesh				07		 
	tex				decor
	opacity				transparent
}

///////////////////////////

08_decor
{
	mesh				08		 
	tex				decor
	opacity				transparent
}

///////////////////////////

09_decor
{
	mesh				09		 
	tex				decor
	opacity				transparent
}

///////////////////////////

10_decor
{
	mesh				10		 
	tex				decor
	opacity				transparent
}

///////////////////////////

11_decor
{
	mesh				11		 
	tex				decor
	opacity				transparent
}

///////////////////////////

